.cardContainer {
  border-radius: 10px;
  display: flex;
  margin: 0 15px 15px 0;
  max-width: 100vh;
  overflow: hidden;
  position: relative;
}

.cardContainer img {
  height: 150px;
  width: 150px;
}

.cardContainer span {
  color: var(--white);
  display: block;
  font-family: Poppins , sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  text-decoration: none;
}

.cardContent {
  background-image: var(--gradient);
  bottom: 0;
  left: 0;
  padding: 7rem 1rem 1rem;
  position: absolute;
  right: 0;
  width: 100%;
}
