.footerContainer {
  bottom: 0;
  position: fixed;
  width: 400px;
}

.footerWrapper {
  backdrop-filter: blur(5.5px);
  background: rgba(0, 0, 0, 0.45);
  border-radius: 40px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto 1rem;
  padding: 20px 40px;
  width: 300px;

}

.footerContainer button {
  background-color: transparent;
  border: none;
}

.footerSeparator {
  border-left: 1px solid var(--white);
  height: 40px;
}
