.mealsContainer {
  border-radius: 10px;
  display: grid;
  gap: 1rem;
  grid-template-columns: 180px 180px 180px;
  justify-content: center;
  margin: 0 auto 4rem;
  max-width: 700px;
  padding: 64px 30px;
}


@media ( max-width : 400px ) {

  .mealsContainer {
    grid-template-columns: 1fr 1fr;
  }
}
